/*     /////     Basic style     /////     */
*, *::before, *::after {
	box-sizing: inherit;
}
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.content-box-component {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;
}
.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}
a {
	text-decoration: none;
}
img {
	min-width: 100%;
	height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*     /////     .Header     /////     */
.main-header {
	background-color: #eeeeee;
	margin-bottom: 80px;
}
.main-header-logo {
	width: 160px;
	height: 65px;
}
.main-header-logo img:hover {
	opacity: 0.8;
}
.main-header-logo img:active {
	opacity: 0.3;
}
.main-navigation {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 10px;
}
.site-navigation,
.user-navigation {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	
	list-style: none;
	line-height: 30px;
}
.site-navigation {
	width: 440px;
}
.user-navigation {
	max-width: 200px;
}
.user-navigation .basket-link {
	position: relative;
	padding-left: 40px;
}
.basket-link::before {
	content: "";
	position: absolute;
	top: 15px;
	left: 5px;

	width: 20px;
	height: 20px;

	background-image: url("../img/cart-icon.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.site-navigation a,
.user-navigation a {
	display: block;
	padding: 10px;
	color: #000;
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
}
.site-navigation a:hover,
.user-navigation a:hover {
	color: #fb565a;
}
.site-navigation a:active,
.user-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}
.site-navigation-current a:not([href]) {
	color: #000;
}
.site-navigation-current {
	position: relative;
}
.site-navigation-current::after {
	content: "";

	position: absolute;
	right: 10px;
	left: 10px;
	bottom: 0;
	height: 2px;
	background-color: #fb565a;
}

.home-text {
	padding-top: 20px;
	padding-bottom: 100px;
}
.home-text h1 {
	text-align: center;
	font-size: 55px;
	line-height: 55px;
	font-weight: 400;
	color: #000;
}

.slider {
	display: flex;
}
.slider-column-left {
	padding: 80px 0;
}
.slider-column-left b {
	font-size: 55px;
	line-height: 55px;
	font-weight: 400;
	color: #000;
}
.slider-column-right {
	width: 698px;
	height: 415px;
	margin: 0 30px;
}

/*     /////     .Btn     /////     */
.btn {
	display: inline-block;
	padding: 15px 50px;

	font: inherit;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: #fff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #fb565a;
	border: none;
}

/*     /////     .Main --> .Catalog-page     /////     */
.main-wrapper {
	display: flex;
	justify-content: space-between;
}

/*     /////     .Filters     /////     */
.filters {
	width: 260px;
}

.main-filter fieldset{
	border: none;
	margin: 0;
	padding: 0;
	margin-bottom: 35px;
}
.main-filter legend {
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 900;
	color: #000;
}
.main-filter ul {
	margin: 0;
	list-style: none;
	line-height: 20px;
}
.filter-options label{
	position: relative;
	cursor: pointer;
}
.main-filter .checked-box {
	display: block;
	margin-bottom: 15px;
}

.filter-options input[type="radio"]+.checked-box::before {
	content: "";
	position: absolute;
	left: -40px;
	top: 0;
	width: 25px;
	height: 25px;
	border: 4px solid #000;
	border-radius: 50%;
}
.filter-options input[type="radio"]:checked+.checked-box::after {
	content: "";
	position: absolute;
	left: -32px;
	top: 8px;
	width: 9px;
	height: 9px;
	background-color: #000;
	border-radius: 50%;
}
.filter-options input[type="radio"]+.checked-box::before,
.filter-options input[type="radio"]+.checked-box::after {
	opacity: 0.4;
}
.filter-options input[type="radio"]:hover+.checked-box::before,
.filter-options input[type="radio"]:hover+.checked-box::after, 
.filter-options input[type="radio"]:focus+.checked-box::before,
.filter-options input[type="radio"]:focus+.checked-box::after {
	opacity: 1;
}


.filter-options input[type="checkbox"]+.checked-box::before {
	content: "";
	position: absolute;
	left: -40px;
	top: 0;
	display: block;
	width: 27px;
	height: 23px;
	background-image: url("../img/filters_icon/checkbox-off.svg");
	background-position: left center;
	background-repeat: no-repeat;
	opacity: 0.4;
}
.filter-options input[type="checkbox"]:checked+.checked-box::before {
	content: "";
	position: absolute;
	left: -40px;
	top: 0;
	display: block;
	width: 27px;
	height: 23px;
	background-image: url("../img/filters_icon/checkbox-on.svg");
	background-position: left center ;
	background-repeat: no-repeat;
	opacity: 0.4;
}
.filter-options input[type="checkbox"]:focus+.checked-box::before,
.filter-options input[type="checkbox"]:hover+.checked-box::before {
	opacity: 1;
}

.main-filter .btn {
	width: 260px;
	color: #000;
	background-color: #eeeeee;
}
.main-filter .btn:hover,
.main-filter .btn:focus  {
	background-color: #dfdfdf;
}
.main-filter .btn:active {
	background-color: #d5d5d5;
}

/*     /////     .Catalog     /////     */
.catalog {
	width: 760px;
}

/*.     /////     .Catalog-sort     /////     */
.catalog-sort {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.catalog-sort p {
	padding: 0;
	margin: 0;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
}
.catalog-sort-wrapper {
	display: flex;
}
.catalog-sort ul {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.catalog-sort-list a {
	margin-right: 20px;
	color: #000;
	font-size: 14px;
	opacity: 0.3;
}
.catalog-sort-list a:hover,
 .catalog-sort-icon a:hover {
	opacity: 0.6;
}

.catalog-sort-icon {
	display: flex;
	justify-content: flex-end;
	width: 60px;
}
.catalog-sort-icon a {
	position: relative;
	display: block;
	padding: 10px;
	opacity: 0.3;
}
.sort-active a {
	opacity: 1;
}
.catalog-sort-icon .sort-icon-up::before,
.catalog-sort-icon .sort-icon-down::before {
	content: "";
	position: absolute;
	top: 25%;
	left: 25%;
	width: 10px;
	height: 10px;
}
.catalog-sort-icon .sort-icon-up::before {
	background-image: url("../img/filters_icon/icon-up-dir.svg");
}
.catalog-sort-icon .sort-icon-down::before {
	background-image: url("../img/filters_icon/icon-down-dir.svg");
}

/*     /////     .Catalog --> article     /////     */
.article-wrapper {
	display: flex;
	flex-wrap: wrap;
}
.article-wrapper .catalog-itam {
	width: 360px;
	margin-right: 40px;
	margin-bottom: 35px;
}
.article-wrapper .catalog-itam:nth-child(2n) {
	margin-right: 0;
}
.catalog-itam a {
	position: relative;
	display: block;
	padding-top: 40px;
}
.catalog-itam a:active .btn {
	background-color: #d7373b;
}
.catalog-itam a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 40px;
	background-image: url("../img/catalog/browser.svg");
	opacity: 0.3;
}
.catalog-itam img {
	display: block;
}

.catalog-itam .catalog-item-info {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 30px 60px;
	width: inherit;
	text-align: center;
	height: 260px;
	background-color: #eeeeee;
	color: #000;

}
.catalog-item-info h2{
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 20px;
}
.catalog-item-info p {
	font-size: 16px;
	line-height: 18px;
}
.catalog-item-info .btn {
	display: block;
	margin-top: 30px;
	width: 100%;
}
.catalog-item-info .btn:hover {
	cursor: pointer;
	border-color: #e74246;
}

.catalog-itam a:hover {
	box-shadow: 0 6px 15px 0 rgba(0,1,1,.25);
}
.catalog-itam a:hover .catalog-item-info{
	display: inline-block;
}
.catalog-itam a:hover::before {
	opacity: 1;
}

/*     ////      .Paginations     /////     */
.pagination-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-top: 25px;
	list-style: none;
}
.pagination-item {
	margin-right: 10px;
}
.pagination-item a {
	display: flex;
	padding: 16px 21px;
	/*width: 45px;
	height: 45px;*/
	background-color: #eeeeee;
	border-radius: 3px;

	line-height: 18px;
	
	color: #000;
}
.pagination-item a:hover {
	background-color: #dfdfdf;
}
.pagination-item a:active {
	opacity: 0.3;
}
.pagination-item-current a {
	background-color: #fff;
	box-shadow: inset 0 0 0 3px #dbdbdb
}
.pagination-item-next a {
	padding-left: 75px;
	padding-right: 75px;
}
/*     /////     .Offer     /////     */
.offer {
	position: relative;
	padding-bottom: 80px;
}
.offer:after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: #f4f4f4;
}
.offer-list {
	display: flex;

	padding: 0;
	margin: 0;
	list-style: none;
}
.offer-item {
	width: 300px;
	margin-right: 100px;
}
.offer-item:nth-child(3n) {
	margin-right: 0;
}
.offer-item img {
	display: block;
	width: 300px;
	height: 146px;
}
.offer-item .offer-name {
	margin: 0;
	margin-top: 20px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 900;
	text-transform: uppercase;
	color: #283136;
}
.offer-item p {
	margin-top: 20px;
	margin-bottom: 30px;
}

/*     /////     .Button basic     /////     */


.btn-pink:hover,
.btn-pink:focus {
	background-color: #e74246;
}
.btn-pink:active {
background-color: #d7373b;
color: rgba(255, 255, 255, 0.3);
}
.btn-green {
	background-color: #00ca74;
}
.btn-green:hover,
.btn-green:focus {
	background-color: #00bc6c;
}
.btn-green:active {
background-color: #00aa62;
color: rgba(255, 255, 255, 0.3);
}
.btn-yellow {
	background-color: #efc84a;
}
.btn-yellow:hover,
.btn-yellow:focus {
	background-color: #eab534;
}
.btn-yellow:active {
background-color: #e5a722;
color: rgba(255, 255, 255, 0.3);
}

/*     /////     .About-us     /////     */

.about-us {
	margin-top: 40px;
	margin-bottom: 70px;
	padding: 0;

	display: flex;
	justify-content: space-between;
}
.about-us-left {
	width: 700px;
	padding-top: 40px;
}
.about-us-left .lead {
	margin: 0;
	margin-bottom: 30px;
	font-size: 45px;
	line-height: 45px;
	font-weight: 400;
	color: #283136;
}
.about-us-left .lead-text {
	margin: 0;
	margin-bottom: 40px;
	padding-right: 40px;
}
.about-us-left h3 {
	margin: 0;
	margin-bottom: 30px;
	color: #000;
	font-size: 16px;
	line-height: 24px;
}
.about-us-we-do {
	padding: 0;
	margin: 0;
	list-style: none;
}
.about-us-we-do li {
	position: relative;
	padding-left: 35px;
	margin-bottom: 25px;
}
.about-us-we-do li::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 50%;
	height: 2px;
	width: 25px;
	background-color: #fb565a;
}

.about-us-right {
	width: 360px;
}
.about-us-right img {
	display: block;
	width: 360px;
	height: 208px;
}
.about-us-right b {
	display: inline-block;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;

	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
}
.about-us-table {
	width: 100%;
	height: 100px;
}
.about-us-table th{
	font-size: 45px;
	vertical-align: top;
}
.about-us-table sup {
	position: relative;
	top: -12px;
	font-weight: 400;
}
.about-us-table td {
	width: 50%;
	vertical-align: bottom;
	font-size: 16px;
	line-height: 18px;
}

/*     /////     .Brends     /////     */
.brands {
	position: relative;
	padding: 45px 0;
}
.brands::before,
.brands::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #f4f4f4;
}
.brands::before {
	top: 0;
}
.brands::after {
	bottom: 0;
}

.brands ul {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	list-style: none;
}
.brands-item {
	opacity: 0.2;
}
.brands-item:hover {
	opacity: 1;
}
.brands-item:active {
	opacity: 0.2;
}






/*     /////     .Map     /////     */

.map {
	position: relative;
	margin-top: 80px;
	width: 100%;
}


.map-adres-box {
	position: absolute;
	top: 50%;
	margin-top: -160px;
	padding: 50px;
	width: 320px;
	height: 308px;
	background-color: #fff;
}
.map-adres-box .btn {
	display: block;
	padding-left: 20px;
	padding-right: 20px;
}
.map-old::after {
	content: "";
	position: absolute;
	top: 140px;
	right: 230px;
	width: 231px;
	height: 190px;
	background: transparent url("../img/map-marker.png") 0 0 no-repeat;
}

/*     /////     .Footer     /////mai*/
.main-footer {
	display: flex;
	padding: 70px 0;
}
.footer-social {
	width: 400px;
}
.footer-social ul{
	display: flex;
	flex-wrap: wrap;
	
	max-width: 360px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer-social li {
	margin-right: 10px;
}
.social-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 79px;
	height: 79px;
	
	border-radius: 50%;
	background-color: #e1e1e1;
}
.social-btn img {
	min-width: auto;
}
.social-btn:hover {
	background-color: #e74246;
}
.social-btn:active {
	background-color: #d7373b;
}

.social-discount {
	width: 600px;
}
.social-discount b {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
}
.social-discount p {
	font-size: 16px;
	line-height: 22px;
}

/*     /////     .Modal     /////     */
.modal {
	display: none;
	position: fixed;

	color: #000;

	background-color: #fff;
	box-shadow: 0 30px 50px rgba(0,0,0,0.7);
}
.modal-close {
	position: absolute;
	top: 70px;
	right: 90px;
	width: 25px;
	height: 25px;

	font-size: 0;
	opacity: 0.3;
	/*background-color: red;*/
	border: 0;
	background-color: transparent;
	cursor: pointer;
}
.modal-close:hover {
	opacity: 1;
}
.modal-close:active {
	opacity: 0.1;
}
.modal-close::before,
.modal-close::after {
	content: "";

	position: absolute;
	top: 10px;
	left: -2px;

	width: 30px;
	height: 5px;
	
	background-color: #fb565a;
}
.modal-close::before {
	transform: rotate(45deg);
}
.modal-close::after {
	transform: rotate(-45deg);
}

/*      /////     .Modal-write-us     /////     */
.modal-write-us {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	width: 960px;
	padding: 80px 100px;
}
.write-us-form legend {
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	font-size: 45px;
	line-height: 45px;
	font-weight: 400;
}
.write-us-form .form-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.form-wrapper p {
	display: flex;
	flex-direction: column;
	width: 360px;
	margin: 0;
	margin-bottom: 30px;
	padding: 0;

	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}
.write-us-form label {
	margin-bottom: 10px;
}
.write-us-form .textarea-form {
	flex-grow: 2;
	margin-bottom: 50px;
}
.write-us-form textarea {
	width: 100%;
	height: 120px;
	resize: none;
}

.write-us-form input,
.write-us-form textarea {
	padding: 14px;
	border-radius: 5px;
	border: 2px solid #d7dcde;
}
.write-us-form input:hover,
.write-us-form textarea:hover {
	border-color: #b4b9bb;
}
.write-us-form input:focus,
.write-us-form textarea:focus {
	border-color: #000;
	outline: none;
}
.write-us-form input:invalid {
	border-color: #e74246;
	color: #e74246;
}
.btn-modal-send {
	width: 260px;
}






